.company-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.company-container .content {
  width: 100%;
  padding: 110px;
  background: #f0f5f1;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 7px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.company-container .content section {
  width: 100%;
  max-width: 500px;
}
.company-container .content section h1 {
  text-align: center;
  font-size: 32px;
}
.company-container .content form {
  width: 100%;
  margin-bottom: 10px;
}
.input-uf {
  width: 25%;
}
.company-container .content form input {
  margin-top: 8px;
  text-align: center;
}
.company-container .content form .input-group {
  display: flex;
}
.company-container .content form .input-group input + input {
  margin-left: 8px;
}
