.supplier-container {
  width: 100%;
  max-width: 1120px;
  margin: 70px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.supplier-container .content {
  width: 100%;
  padding: 110px;
  background: #f0f5f1;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.supplier-container .content section {
  margin-bottom: 30px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.supplier-container .content section h1 {
  margin: -20px 0 10px;
  font-size: 32px;
}
.supplier-container .content form {
  width: 100%;
  max-width: 450px;
}
.company-button {
  width: 50%;
  height: 60px;
  padding: 0 5px;
  background: #e02041;
  border: solid;
  border-radius: 10px;
  color: #f0f5f1;
  font-weight: 700;
  margin-top: 3px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: filter 0.2s;
}
.supplier-container .content form input {
  margin-top: 8px;
}
.supplier-container .content form .input-group {
  display: flex;
  align-items: center;
  font: 400 15px Roboto, sans-serif;
}
.supplier-container .content form .input-group input + input {
  margin-left: 8px;
}
.telephone-number {
  width: 90%;
  font: 400 14px Roboto, sans-serif;
  font-size: 1.3em;
}
.telephone-list {
  display: flex;
  align-items: flex-end;
  font: 400 14px Roboto, sans-serif;
  margin-top: 20px;
  width: 100%;
}
.telephone-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 4px;
}
.telephone-delete {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.person-group {
  display: flex;
  align-items: vertical;
  font: 400 17px Roboto, sans-serif;
  border-radius: 10px;
}
.select-person {
  font: 400 17px Roboto, sans-serif;
  border-radius: 10px;
  margin-right: 8px;
  margin-top: 8px;
}
.selected-company {
  font: 400 16px Roboto, sans-serif;
  margin-top: 7px;
  width: 100%;
}
.input-ddi {
  width: 20%;
  font: 400 17px Roboto, sans-serif;
  border-radius: 10px;
  margin-right: 8px;
  margin-top: 8px;
}
.entity-type-container {
  width: 100%;
}
