.search-supplier select {
  /*width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center; */
  width: 31%;
  padding: 15px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  display: flex;
  align-items: vertical;
  font: 400 17px Roboto, sans-serif;
}
.select-company {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.selected-company-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remove-company {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 4px;
}
