.search-supplier select {
  padding: 15px 0 15px 15px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  display: flex;
  align-items: vertical;
  font: 400 17px Roboto, sans-serif;
}
.select-company {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.select-company > * {
  width: 48%;
  height: 60px;
}
.selected-company-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remove-company {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 4px;
}
